<!DOCTYPE html>
<html th:fragment="parent(content, title, script)" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title th:text="${title}">Default Title</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{'/css/output.css'}"/>
  <link rel="stylesheet" th:href="@{'/css/style.css'}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
  <div th:if="${loggedInUser}">
    <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
  </div>
  
  <div th:unless="${loggedInUser}">
    <div data-th-replace="~{navbar::navbar}"></div>
  </div>
  
  <div class="pt-8">
    <section th:replace="${content}"></section>
  </div>
  
  <div th:unless="${loggedInUser}">
    <footer class="bg-blue-700 text-white py-2 w-full mx-auto"> <!-- Further decreased padding from py-4 to py-3 -->
      <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
          <div class="footer-section">
            <img src="/images/footer_cdac.png" alt="C-DAC Logo" class="h-12 w-auto" />
            <p class="text-sm text-gray-300 mt-2 footer-rights"> <!-- Added margin-top to separate logo and text -->
              &copy; 2025 Centre for Development of Advanced Computing. All rights reserved.
            </p>
          </div>

          <div class="footer-section">
            <h3 class="text-lg font-semibold mb-2">Contact Us</h3> <!-- Decreased margin-bottom -->
            <p class="text-sm text-gray-300">
              C-DAC Noida, Sector 62,Uttar Pradesh 201307<br>
              Phone: +91-20-25503100<br>
              Email: <a href="mailto:info@cdac.in" class="text-yellow-300 hover:underline">info@cdac.in</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <script data-th-src="@{'/js/script.js'}"></script>
  <th:block th:replace="${script}"></th:block>
</body>
</html>